/* Import other css */
@import url('reset.css');



@charset "utf-8";
/* CSS Document */

/*--------------------------------------reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, /*p,*/ blockquote, pre,
/*a,*/ abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* outline-off */
a {
    outline: none; /* for Firefox Google Chrome  */
    behavior: expression(this.onFocus=this.blur()); /* for IE */
}

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }


.wh_text {
    color: #fff;
}

    .wh_text a {
        color: #fff;
        font-size: 1.7em;
    }

.radius_bg {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.red_bg {
    background: #e72a23;
}

.gray_bg {
    background: #cecece;
}

.button {
    text-align: center;
    padding: 10px 5px;
    font-size: 1.3em;
    margin-bottom: 10px;
    cursor: pointer;
}
/*这行代码对于大多数嵌入网页的图片+视频有效，所以可以写成*/
img, object {
    max-width: 100%;
    border: 0;
}

/*老版本的IE不支持max-width，所以只好写成*/
img {
    width: 100%;
    border: 0;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
}

.clear {
    clear: both;
}
/* textbox */
.shText {
    width: 100%;
    font-size: 1em;
    padding: 5px 10px !important;
    color: #555555;
    vertical-align: middle;
    /* 圓框 */
    -webkit-border-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-background-clip: padding-box;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-radius: 4px;
    background-clip: padding-box;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    /* textbox 陰影拿掉 */
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -webkit-transition: all border linear .2s, box-shadow linear .2s ease-out;
    -webkit-transition: border linear .2s,-webkit-box-shadow linear .2s;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border linear .2s, box-shadow linear .2s;
    transition: all border linear .2s, box-shadow linear .2s ease-out;
    transition: border linear .2s,box-shadow linear .2s;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: all border linear .2s, box-shadow linear .2s ease-out;
    -moz-transition: border linear .2s,-moz-box-shadow linear .2s;
    -ms-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
}
/************************************************************************************
STRUCTURE 結構
*************************************************************************************/



body {
    font-family: "微軟正黑體","新細明體", "標楷體", Arial, Helvetica, FreeSans, sans-serif;
    font-size: 1em;
    padding: 0px;
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #eeeeee;
}
/*Iframe*/
.iframe_wrap {
    width: 100%;
    margin: 0 auto;
}

.iframe_black_location {
    font-size: 1.5em;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 5px;
}

.iframe_yellow_btn {
    display: block;
    font-size: 1.5em;
    margin: 0 auto;
    background-color: #fbef5e;
    color: #000;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 5px;
    cursor: pointer;
}

.iframe_p-count {
    font-family: Arial,"微軟正黑體";
    text-align: right;
    font-size: 1.5em;
    padding-right: 3%;
    line-height: 1.2em;
    font-weight: bold;
}

.iframe_p-alreadypercent {
    padding-right: 3%;
    text-align: right;
    color: #555555;
}

.iframe_p-percent {
    padding-right: 3%;
    text-align: right;
    color: #555555;
}

.iframe_p-name {
    float: left;
    width: 100%;
    position: relative;
}

    .iframe_p-name .lname {
        font-size: 1.5em;
        color: #FFFFFF;
    }

.lname-kmt {
    background-color: #0b169b;
}

.lname-dpp {
    background-color: #3b672c;
}

.lname-pfp {
    background-color: #d64e12;
}

.lname-np {
    background-color: #000;
}

.lname-tsu {
    background-color: #905a1d;
}

.lname-else {
    background-color: #484848;
}

.lname-npp {
    background-color: #8f7b00;
}

.lname-npsu {
    background-color: #6f0930;
}


.iframe_p-name img {
    width: auto;
    margin: 0 5px;
}

.iframe_l-text {
    width: 100%;
    text-align: right;
    font-size: 1.2em;
}

/*BACK*/
.back-inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 49px;
    text-align: center;
}

.back {
    width: 100%;
    margin: 0 auto;
    background-color: #f8942d;
    /*position: relative;*/
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    top: 0;
    z-index: 999;
    position: fixed;
}

}
/*TOPPER*/
.topper-inner {
    width: 100%;
    margin: 0 auto;
    background-color: #f5dc1f;
    position: relative;
}

.topper {
    width: 100%;
    margin: 0 auto;
    background-color: #f5dc1f;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    width: 50%;
    display: inline-block;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

    .logo img {
        width: auto;
    }

.topper_btn {
    width: 40%;
    display: inline-block;
    float: right;
    text-align: right;
}

.right_btn {
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #e40000;
    margin: 0px 10px 0 0;
}
/*倒數*/
.countdown-inner {
    width: 100%;
    margin: 0 auto;
    background-color: #f8942d;
    position: relative;
}

.countdown {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #FFF;
}

    .countdown p {
        font-size: 1.3em;
        padding-bottom: 10px;
    }

/*主圖*/
.banner-inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #eeeeee;
}

.banner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 5px;
    padding-bottom: 3px;
    text-align: center;
    cursor: pointer;
}

/*main*/
.main {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #eeeeee;
}





/*youtube*/
.youtube-inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #eeeeee;
}

.youtube {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 5px;
    padding-bottom: 3px;
    text-align: center;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
/*分頁*/
.main-left {
    width: 100%;
    margin: 0 auto;
    background-color: #f5dc1f;
    /*position: relative;*/
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    bottom: 0;
    z-index: 999;
    position: fixed;
}

.marginr {
    margin-right: 5px;
}


.red_btn {
    -moz-box-shadow: 3px 4px 0px 0px #8a0c0c;
    -webkit-box-shadow: 3px 4px 0px 0px #8a0c0c;
    box-shadow: 3px 4px 0px 0px #8a0c0c;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e34242), color-stop(1, #c22929));
    background: -moz-linear-gradient(top, #e34242 5%, #c22929 100%);
    background: -webkit-linear-gradient(top, #e34242 5%, #c22929 100%);
    background: -o-linear-gradient(top, #e34242 5%, #c22929 100%);
    background: -ms-linear-gradient(top, #e34242 5%, #c22929 100%);
    background: linear-gradient(to bottom, #e34242 5%, #c22929 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e34242', endColorstr='#c22929',GradientType=0);
    background-color: #e34242;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #c23434;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 3px 5px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

    .red_btn:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c22929), color-stop(1, #e34242));
        background: -moz-linear-gradient(top, #c22929 5%, #e34242 100%);
        background: -webkit-linear-gradient(top, #c22929 5%, #e34242 100%);
        background: -o-linear-gradient(top, #c22929 5%, #e34242 100%);
        background: -ms-linear-gradient(top, #c22929 5%, #e34242 100%);
        background: linear-gradient(to bottom, #c22929 5%, #e34242 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c22929', endColorstr='#e34242',GradientType=0);
        background-color: #c22929;
    }

    .red_btn:active {
        position: relative;
        top: 1px;
    }

.map_btn {
    -moz-box-shadow: 3px 4px 0px 0px #141313;
    -webkit-box-shadow: 3px 4px 0px 0px #141313;
    box-shadow: 3px 4px 0px 0px #141313;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4f4746), color-stop(1, #595353));
    background: -moz-linear-gradient(top, #4f4746 5%, #595353 100%);
    background: -webkit-linear-gradient(top, #4f4746 5%, #595353 100%);
    background: -o-linear-gradient(top, #4f4746 5%, #595353 100%);
    background: -ms-linear-gradient(top, #4f4746 5%, #595353 100%);
    background: linear-gradient(to bottom, #4f4746 5%, #595353 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4746', endColorstr='#595353',GradientType=0);
    background-color: #4f4746;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #241e1e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 3px 5px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

    .map_btn:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #595353), color-stop(1, #4f4746));
        background: -moz-linear-gradient(top, #595353 5%, #4f4746 100%);
        background: -webkit-linear-gradient(top, #595353 5%, #4f4746 100%);
        background: -o-linear-gradient(top, #595353 5%, #4f4746 100%);
        background: -ms-linear-gradient(top, #595353 5%, #4f4746 100%);
        background: linear-gradient(to bottom, #595353 5%, #4f4746 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#595353', endColorstr='#4f4746',GradientType=0);
        background-color: #595353;
    }

    .map_btn:active {
        margin: 1px 0 -1px 1px;
        -moz-box-shadow: 2px 3px 0px 0px #141313;
        -webkit-box-shadow: 2px 3px 0px 0px #141313;
        box-shadow: 2px 3px 0px 0px #141313;
    }
/*總統大選*/
.presidential-inner {
    width: 100%;
    background-color: #eeeeee;
    position: relative;
}

.presidential {
    width: 100%;
    margin: 0 auto;
    /*background-color:#999;*/ /*暫放*/
    position: relative;
    padding-bottom: 10px;
}

/*開票率*/
.percent_bararea {
    padding: 10px 0;
}

.percent_bar {
    height: 50px;
    display: block;
    background-color: #af0000;
    width: auto;
}

.percent_text {
    font-size: 1.875em;
    display: block;
    color: #af0000;
    width:;
}
/*Tip*/
.tip {
    font-size: 1.2em;
    padding: 5px;
    margin: 10px;
}
/*立委選舉*/
.legislator-inner {
    width: 100%;
    position: relative;
}

.legislator {
    width: 100%;
    margin: 0 auto;
    /*background-color:#999;*/ /*暫放*/
    position: relative;
    padding-bottom: 10px;
}
/*不分區*/
.seats-area {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 10px;
    font-size: 1.2em;
}

    .seats-area img {
        width: auto;
    }

.seats-box {
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
}

.seats-party {
    padding: 10px;
    color: #FFF;
    font-size: 1.3em;
}

.seats-box ul {
    padding: 10px;
}
/*主題*/
.title {
    width: 90%;
    margin: 0 auto;
    border-bottom: #666666 1px solid;
    font-size: 1.875em;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align: center;
}

/*候選人*/
.candidate {
    width: 100%;
    margin: 0 auto;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.box {
    width: 97%;
    height: auto;
    margin: 2% auto;
    border: 5px #1a1a27 solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.legislator-box {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, ##ffffff 0%,#f7f7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

.legislator-kmt-box {
    border: 5px #79c3fb solid;
}

.legislator-dpp-box {
    border: 5px #98ff77 solid;
}

.legislator-pfp-box {
    border: 5px #e37c44 solid;
}

.legislator-np-box {
    border: 5px #fdf941 solid;
}

.legislator-tsu-box {
    border: 5px #da8d33 solid;
}

.legislator-else-box {
    border: 5px #737373 solid;
}

.legislator-npp-box {
    border: 5px #d7bb00 solid;
}

.legislator-npsu-box {
    border: 5px #a80f47 solid;
}


.et {
    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfc 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcfcfc 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcfcfc 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fcfcfc 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.kt {
    background: #fafcfd; /* Old browsers */
    background: -moz-linear-gradient(top, #fafcfd 0%, #c0ddfd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafcfd), color-stop(100%,#c0ddfd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fafcfd 0%,#c0ddfd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fafcfd 0%,#c0ddfd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fafcfd 0%,#c0ddfd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fafcfd 0%,#c0ddfd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafcfd', endColorstr='#c0ddfd',GradientType=0 ); /* IE6-9 */
}

.mt {
    background: rgb(248,249,248); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(248,249,248,1) 0%, rgba(177,254,196,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,249,248,1)), color-stop(100%,rgba(177,254,196,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(248,249,248,1) 0%,rgba(177,254,196,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(248,249,248,1) 0%,rgba(177,254,196,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(248,249,248,1) 0%,rgba(177,254,196,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(248,249,248,1) 0%,rgba(177,254,196,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9f8', endColorstr='#b1fec4',GradientType=0 ); /* IE6-9 */
}

.pfp {
    background: rgb(255,172,132); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(248,249,248,1) 0%, rgba(255,172,132,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,249,248,1)), color-stop(100%,rgba(255,172,132,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(248,249,248,1) 0%,rgba(255,172,132,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(248,249,248,1) 0%,rgba(255,172,132,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(248,249,248,1) 0%,rgba(255,172,132,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(248,249,248,1) 0%,rgba(255,172,132,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9f8', endColorstr='#eaa685',GradientType=0 ); /* IE6-9 */
}

.box img {
    width: auto;
}

.p-foto {
    float: left;
    width: 30%;
    position: relative;
}

    .p-foto img {
        width: 100%;
        height: 100%;
    }

.win {
    position: absolute;
    z-index: 3;
}

.p-text {
    float: right;
    color: #000;
    width: 70%;
}

.p-name {
    padding-right: 3%;
    text-align: right;
}

.wan {
    font-weight: lighter;
    font-size: 0.5em;
}

.p-count {
    font-family: Arial,"微軟正黑體";
    text-align: right;
    font-size: 2em;
    padding-right: 3%;
    line-height: 1.2em;
    font-weight: bold;
}

.p-line {
    height: 1px;
    border-bottom: #ccc 1px dashed;
}

.p-alreadypercent {
    padding-right: 3%;
    text-align: right;
    color: #555555;
    font-size: 0.8em;
}

.p-percent {
    padding-right: 3%;
    text-align: right;
    color: #555555;
    font-size: 1em;
}

.p-line-bottom {
    height: 1px;
    padding-bottom: 10px;
    border-bottom: #000 1px dashed;
    margin-bottom: 10px;
    clear: both;
}
/*arealist*/
.arealist {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

    .arealist ul {
        margin: 0 auto;
        text-align: center;
    }

        .arealist ul li {
            width: 31.2%;
            margin: 1% 1%;
            text-align: left;
            font-size: 1.1em;
            padding: 10px 0;
            cursor: pointer;
            text-align: center;
            float: left;
        }

            .arealist ul li img {
                width: auto;
            }

        .arealist ul a li {
            color: #000;
        }

        .arealist ul li:hover {
            background: #f9ea61;
        }

.legislator .arealist ul li:hover {
    background: #a50900;
}

.arealist ul li ul li {
    text-align: left;
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
}
/*arealist2*/
.arealist2 {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

    .arealist2 ul {
        margin: 0 auto;
    }

        .arealist2 ul li {
            width: 95%;
            text-align: left;
            font-size: 1.3em;
            padding: 10px;
            cursor: pointer;
            text-align: left;
        }

            .arealist2 ul li img {
                width: auto;
            }

        .arealist2 ul a li {
            color: #000;
        }

.legislator .arealist2 ul li:hover {
    background: #a50900;
}

.arrow {
    display: inline-block;
    float: right;
    width: 30px;
}

.red_bg {
    background-color: #a50900;
}

.footer {
    height: 70px;
    background-color: #eeeeee;
}

#gotop {
    display: none;
}
/*Smooth Page Scroll to Top */
.scrollup {
    width: 40px;
    height: 50px;
    text-indent: -9999px;
    opacity: 0.85;
    position: fixed;
    bottom: 0px;
    right: 5%;
    display: none;
    background: url(../images/icon_top.png) no-repeat center top #000;
    z-index: 7000;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*回上頁*/
.main-left a img {
    width: 2em;
}
